<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MusicLinq</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .red {
            color: rgb(212, 41, 55);
        }
        .small{
            font-style: italic;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
    
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
    
                <!-- Button that toggles the navbar on and off on small screens -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
    
                    <!-- Hides information from screen readers -->
                    <span class="sr-only"></span>
    
                    <!-- Draws 3 bars in navbar button when in small mode -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
                <!-- You'll have to add padding in your image on the top and right of a few pixels (CSS Styling will break the navbar) -->
                <a class="pull-left" href="/dashboard">
                    <img src="https://www.linqmr.com/img/press/logo_linq_b.jpg" height="50px">
                </a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/dashboard">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/users/{{request.session.user_id}}">Profile
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
    <div class="jumbotron">
        <h1>Welcome {{request.session.user_name}}!</h1>
        <p>Linq is place to share music with friends 🤘</p>
    </div>
    <div class="col-md-6">
    <div class="jumbotron">
    <h2>Wall of Goodies 🔥</h2>
    {% for i in all %}
    <p><a href="{{i.link}}">{{i.song}}</a></p>
    <p class="small">Posted by <a href="/users/{{i.user.id}}">{{i.user.first_name}}</a></p>
    <a class="btn-success btn-sm" href="/dashboard/addfav/{{i.id}}" method="POST">Add to My Favs</a><br><br><br>
    {% endfor %}
    </div></div>
    <div class="col-md-6">
    <div class="jumbotron">
    <h2>Your Favs 🍆</h2>
    {% for i in fav %}
    <p><a href="{{i.link}}">{{i.song}}</a></p>
    <p class="small">Posted by <a href="/users/{{i.user.id}}">{{i.user.first_name}}</a></p>
    <a class="btn-danger btn-sm" href="/dashboard/removefav/{{i.id}}" method="POST">Remove From My Favs</a><br><br><br>
    {% endfor %}
    </div></div>
    <div>
    <div class="jumbotron">
    <h2>🎶 Add Your Jam:</h2>
    <form action="/dashboard/add" method="POST">{% csrf_token %}
        <p>Link: <input size="29" type="text" name="link" id=""></p>
        <p>Song/Artist: <input size="29" type="text" name="song" id=""></p>
        <input class="btn-primary btn" type="submit" value="Submit">
    </form>
    {% for message in messages %}
    <li class="red">{{ message }}</li>
    <br> {% endfor %}
    </div></div></div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>