<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/main.css' %}" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <h1>Login</h1>
    <form method="POST" action='/login'>{% csrf_token %} 
        Email: <input type="text" name="email"><br> 
        Password: <input type="password" name="password"><br>
        <input type="submit" name="">
    </form>
    <br>
    <br>
    {% for message in messages %}
        <li>{{ message }}</li><br><br>
    {% endfor %}
    <a href="/register">Don't have an account? Register here</a>
</body>

</html>