<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Songs</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .red {
            color: rgb(212, 41, 55);
        }
    </style>
</head>
<body>
    <div class="container">
    <p class="pull-right"><a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a></p>
    <div class="jumbotron">
    <h1>Submitted by {{user.first_name}}</h1>
    <h2>Count: {{count}}</h2><br><br>
    {% for i in all %}
    <p><a href="{{i.link}}">{{i.song}}</a></p><br>
    {% endfor %}
    </div></div>
</body>
</html>